@use "variables" as *;
@use "../mixins/mixins" as *;

//region  General Post term styling
.wp-post-term {

}

//endregion  General Post term styling

// region paginate styling
.wp-pagination {
  display: flex;
  align-items: center;
  max-width: size(275);
  justify-content: space-between;
  @include marginX(auto);
  margin-top: size(40);
  @include large-screen {
    margin-top: size(50);
    max-width: size(356);
  }

  .page-numbers {
    @include font(18px, 700, 21px, $techne_theme_red);
    transition: color $duration;
    display: flex;

    &:hover {
      &:not(.dots) {
        color: $techne_theme_red;
      }
    }

    &.current {
      color: $techne_theme_red;
    }

  }

  .arrow-pagination {
    @include square(size(33));
  }

  .prev, .next {
    display: flex !important;
  }

  &.pagination-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.no-pages {
    display: none;
  }
}

// endregion paginate styling

